<div class="container-fluid padding-zero foot-ctrl">
            <footer class="jt-footer-style-two   jt-corporate-footer">

              <!--  <div class="container-fluid padding-zero text-widget-holder">
                    <!-- Footer Widgets 
                    <div class="container padding-zero">
                        <div class="jt-widgets-area jt_widget_count_four">
                            <div class="col-lg-3 col-md-3 col-sm-3 ">
                                <div class="widget">
                                    <div class="jt-widget-content">
                                        <div id="text-3" class="widget widget_text">
                                            <div class="textwidget">
                                                <p><img src="{{ 'assets/upload/Corporate-footer.png'|theme }}" alt="" />
                                                    <br />
                                                    <br />
                                                </p>

                                                <p>Marsh mallow muffin soufflé jelly-o tart cake. Marshmallow macaroon jelly jubes dont dragée ice cream. Dessert gummi bears chocolate topping. Dessert halvah gummies wafer toffee.</p>

                                                <ul class="jt-social-three jt-social-six ">
                                                    <li><a href="#" target="_blank"><i class="fa fa-facebook" style="color:#fff;font-size:11px;"></i></a></li>
                                                    <li><a href="#0" target="_blank"><i class="fa fa-twitter" style="color:#fff;font-size:11px;"></i></a></li>
                                                    <li><a href="#" target="_blank"><i class="fa  fa-google-plus" style="color:#fff;font-size:11px;"></i></a></li>
                                                    <li><a href="#" target="_blank"><i class="fa  fa-instagram" style="color:#fff;font-size:11px;"></i></a></li>
                                                    <li><a href="#" target="_blank"><i class="fa  fa-linkedin" style="color:#fff;font-size:11px;"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end widget 
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 ">
                                <div class="widget">
                                    <div class="jt-widget-content">
                                        <div id="text-4" class="widget  widget_text">
                                            <h3 class="widget-title">Need Help?</h3>
                                            <div class="textwidget">
                                                <ul>
                                                    <li><a href="#0">Terms of Use</a></li>
                                                    <li><a href="#0">About Us</a></li>
                                                    <li><a href="#0">Help Center</a></li>
                                                    <li><a href="#0">Our Blog</a></li>
                                                    <li><a href="#0">Career</a></li>
                                                    <li><a href="#0">Contact Us</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end widget
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 ">
                                <div class="widget">
                                    <div class="jt-widget-content">
                                        <div id="widget-keep-in-touch-2" class="widget widget-custom">
                                            <h3 class="widget-title">Keep in Touch</h3>
                                            <ul class="jt-widget-address">
                                                <li class="jt-add-icon jt-add-li">
                                                    <i class="pe-7s-map-2"></i>
                                                    <span>44 New Design Street, Melbourne 005</span>
                                                </li>
                                                <li class="jt-add-icon jt-phone-li">
                                                    <i class="pe-7s-call"></i>
                                                    <span>+1 (123) 456-7890-321</span>
                                                </li>
                                                <li class="jt-add-icon jt-mail-li">
                                                    <i class="pe-7s-mail"></i>
                                                    <span>info@VictorThemes.com</span>
                                                </li>
                                                <li class="jt-add-icon jt-fax-li">
                                                    <i class="pe-7s-print"></i>
                                                    <span>(01) 800 854 633</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- end widget 
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 ">
                                <div class="widget">
                                    <div class="jt-widget-content">
                                        <div id="null-instagram-feed-2" class="widget null-instagram-feed">
                                            <h3 class="widget-title">Instagram</h3>
                                            <ul class="instagram-pics">
                                                <li class="">
                                                    <a href="#" target="_self" class=""><img src="{{ 'assets/upload/12105059_780687482076575_1561240626_n.jpg'|theme }}" alt="Instagram Image" title="Instagram Image" class="" /></a>
                                                </li>
                                                <li class="">
                                                    <a href="#" target="_self" class=""><img src="{{ 'assets/upload/12120443_1505155189809339_1877354409_n.jpg'|theme }}" alt="Instagram Image" title="Instagram Image" class="" /></a>
                                                </li>
                                                <li class="">
                                                    <a href="#" target="_self" class=""><img src="{{ 'assets/upload/12063055_1507908132853521_901973526_n.jpg'|theme }}" alt="Instagram Image" title="Instagram Image" class="" /></a>
                                                </li>
                                                <li class="">
                                                    <a href="#" target="_self" class=""><img src="{{ 'assets/upload/12104948_1672856389597555_835788239_n.jpg'|theme }}" alt="Instagram Image" title="Instagram Image" class="" /></a>
                                                </li>
                                                <li class="">
                                                    <a href="#" target="_self" class=""><img src="{{ 'assets/upload/12081050_1657317981182776_147388951_n.jpg'|theme }}" alt="Instagram Image" title="Instagram Image" class="" /></a>
                                                </li>
                                                <li class="">
                                                    <a href="#" target="_self" class=""><img src="{{ 'assets/upload/12139811_1701977720034313_760471987_n.jpg'|theme }}" alt="Instagram Image" title="Instagram Image" class="" /></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- end widget 
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div> -->
                <!-- Copyright Widget Area -->
                <div class="jt-copyright-area">
                    <div class="container">
                        <p>© 2017 Elab Accelerator - All Rights Reserved.</p>
                    </div>
                </div>
                <!-- Footer Copyrights -->
            </footer>
        </div>