<header class=" sticky-nav sticky-rev">
                    <nav class="navbar navbar-default navbar-static-top">
                        <div class="">
                            <div class="navbar-header">
                                <a href="#" rel="home" class="default navbar-logo default-logo">
                                    <img src="{{ 'assets/upload/logo.png'|theme }}" alt="Corporate" />
                                </a>
                                <a href="#" rel="home" class="default navbar-logo retina-logo">
                                    <img src="{{ 'assets/images/logo.png'|theme }}" alt="Corporate" />
                                </a>
                            </div>
                            <div id="main-nav" class="collapse navbar-collapse menu-main-menu-container">
                                <ul id="menu-create-menu" class="nav navbar-nav navbar-right jt-main-nav">
                                    <li class="menu-item  page_item page-item-6 current_page_item active"><a title="Home" href="#">Home</a></li>
                                    <li class="menu-item"><a title="About" href="#">About</a></li>
                                    <li class="menu-item"><a title="Design Studio" href="#">Design Studio</a></li>
                                    <li class="menu-item"><a title="Incubation" href="#">Incubation</a></li>
                                    <li class="menu-item"><a title="eLounge" href="#">eLounge</a></li>
                                    <li class="menu-item"><a title="Acceleration" href="#">Acceleration</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- Slim Menu -->
                    <div class="hidden-big-screen style="color: #0000FF"">
                        <div class=" sticky-nav sticky-rev jt-slim-top">
                            <a href="#" rel="home" class="default navbar-logo default-logo">
                                <img src="{{ 'assets/upload/logo.png'|theme }}" alt="Corporate" />
                            </a>
                            <div class="menu-main-menu-container">
                                <ul id="menu-main-menu" class="nav navbar-nav navbar-right jt-agency-menu-list slimmenu jt-slimmenu jt-top-slimmenu">
                                   <li class="menu-item  page_item page-item-6 current_page_item active"><a title="Home" href="#">Home</a></li>
                                    <li class="menu-item"><a title="About" href="#">About</a></li>
                                    <li class="menu-item"><a title="Design Studio" href="#">Design Studio</a></li>
                                    <li class="menu-item"><a title="Incubation" href="#">Incubation</a></li>
                                    <li class="menu-item"><a title="eLounge" href="#">eLounge</a></li>
                                    <li class="menu-item"><a title="Acceleration" href="#">Acceleration</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /Slim Menu -->
                </header>